<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px; margin-left: 0.5em; height: 100vh;">
    <span class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Strony</span>
    </span>
    <div class="list-group list-group-flush border-bottom scrollarea">
        <a *ngFor="let page of pageService.pages$ | async"
           [ngClass]="{'active': page.isActive}"
           href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{page.name}}</strong>
                <small>{{page.difficulty}}</small>
            </div>
            <div class="col-10 mb-1 small">{{page.description}}</div>
        </a>
    </div>
</div>