<article class="route-window bg-white overflow-auto">
    <span class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Rozwiązanie zadania 3</span>
    </span>

    <div class="border-bottom">
        <scam-unordered-list
            [title]="'Zmienione pliki'"
            [list]="[
                'event-bus.service.ts',
            ]"
        ></scam-unordered-list>
    </div>

    <scam-code-snippet-list [codeFiles]="codeFiles"></scam-code-snippet-list>

    <scam-footer-angular-version [text]="'Koniec strony z rozwiązaniem zadania 3'"></scam-footer-angular-version>
</article>
