<article class="route-window bg-white overflow-auto">
    <span class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Followers</span>
    </span>
    <section class="w-100">
        <div class="card m-2">
            <div class="card-body border-top p-9">
                <scam-level-header (followClick)="onFollowClick()"></scam-level-header>
                <scam-level-progress [count]="followers.length"></scam-level-progress>
            </div>
        </div>

        <!--  Followers list  -->
        <div class="card m-2 h-full">
            <div class="card-body">
                <div class="card-title d-flex align-items-center"><h5 class="mb-0">Lista followersów</h5>
                    <div class="ms-auto text-end">
                        <a href="#" (click)="deleteAllFollowers(); $event.preventDefault();"
                           class="text-sm font-semibold">Unfollow all</a></div>
                </div>
                <div class="list-group gap-4">
                    <div *ngIf="followers.length === 0 || !followers"
                         class="list-group-item d-flex align-items-center border rounded">
                        Brak followersów
                    </div>
                    <div *ngFor="let follower of followers"
                         class="list-group-item d-flex align-items-center border rounded">
                        <div class="me-4">
                            <div class="avatar rounded-circle"><img alt="..." src="{{follower.avatar}}" width="36">
                            </div>
                        </div>
                        <div class="flex-fill">
                            <a href="#"
                               routerLink="/level-1/follower/{{follower.id}}"
                               class="d-block h6 font-semibold mb-1">
                                {{follower.name}}
                            </a>
                            <span class="d-block text-sm text-muted">{{follower.job}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>