<article class="route-window bg-white overflow-auto">
  <span
    class="
      d-flex
      align-items-center
      flex-shrink-0
      p-3
      link-dark
      text-decoration-none
      border-bottom
    "
  >
    <span class="fs-5 fw-semibold">Games CRUD</span>
    <span style="flex: 1 1 auto"></span>
  </span>

  <scam-alert [type]="AlertType.Light" [message]="'src/app/levels/level-two-reactive'"></scam-alert>
  <scam-alert [type]="AlertType.Info" [message]="'Dodawaj, usuwaj i pokazuj gry za pomocą RxJS, a przy okazji ulżyj serwerowi.'"></scam-alert>

  <ng-container *ngIf="vm$ | async as vm">
    <header
      class="p-3 bg-light text-white"
      style="position: sticky; top: 0; z-index: 99"
    >
      <level-header-counters-n-search
        [addedGamesLength]="vm.addedGames.length"
        [gamesLength]="vm.games.length"
        (toggleAddedGamesList)="addedListToggle.click()"
        (search)="onCriteriaChange($event)"
      ></level-header-counters-n-search>

      <button
        #addedListToggle
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseAddedGames"
        aria-expanded="false"
        style="opacity: 0; visibility: hidden; height: 0"
      ></button>

      <div class="collapse" id="collapseAddedGames">
        <div class="card card-body">
          <level-added-games-list
            [addedGames]="vm.addedGames"
            (removeGame)="onRemoveGame($event)"
          ></level-added-games-list>
        </div>
      </div>
    </header>

    <div class="container">
      <level-games-list
        [games]="vm.games"
        (addGame)="onAddGame($event)"
      ></level-games-list>
    </div>
  </ng-container>
</article>
