<article class="route-window bg-white overflow-auto">
  <span
          class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom "
  >
    <span class="fs-5 fw-semibold">Level 3 Event Bus</span>
    <span style="flex: 1 1 auto"></span>
  </span>

    <section class="container mt-4">
        <div class="card m-2 mt-4 mb-4">
            <div class="card-header"><h5>EventBus krótki FAQ</h5></div>
            <div class="card-body">
                <p>Event Bus, służy do komunikacji pomiędzy komponentami albo serwisami czy jakimiś klasami</p>
                <p class="text-muted">Zobaczymy siłę RxJS, aby ułatwić np. sprawę komunikacji z mocno zagnieżdzonymi
                    komponentami</p>

                <p class="mt-2">Jak w prosty sposób zarządzać i dodawać nowe eventy</p>
                <p class="text-muted">Enum, który trzyma listę możliwych eventów</p>

                <p class="mt-2">Typowanie</p>
                <p class="text-muted">Związane z TS: Napiszemy generyki aby móc utrzymać typowanie dla EventBusa i
                    zaspokoić kompilator TSa</p>
            </div>
        </div>


        <div class="card m-2">
            <div class="card-header"><h5>EventStore krótki FAQ</h5></div>
            <div class="card-body">
                <p>Event Store to odwzorowanie bazy która trzyma eventy, produkcyjny odpowiednik to np. EventStoreDB</p>
                <p class="text-muted">Służy jako baza, musimy gdzieś te eventy zapisać ;)</p>
                <p class="text-muted">To zadanie jest zainspirowane Event Driven Design, dla zainteresowanych polecam
                    wygooglować Event Sourcing do czego mocno służy EventStoreDB</p>
                <scam-alert [type]="AlertType.Light" [message]="'level-three-reactive/event-store.service.ts'"></scam-alert>
            </div>
        </div>
    </section>

    <footer class="mt-5 border-top d-flex align-items-center justify-content-center" style="min-height: 5em;">
        <a href="#" routerLink="/level-3-reactive">Przejdź do zadania 3-ego</a>
    </footer>
</article>