<div class="row">
    <div class="w-100">
        <div class="d-flex text-muted fw-boldest fs-4 pb-3">
            <span class="flex-grow-1 text-gray-800">Followers</span>
            <span class="text-gray-800">{{count}} z 100</span>
        </div>
        <div class="progress h-8px bg-light-primary mb-3">
            <div class="progress-bar bg-primary" role="progressbar" style="width:{{count}}%"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="fw-bold fs-6 text-muted">{{100 - count}} Użytkowników zostało do spełnienia
            celu
        </div>
    </div>
</div>