<article class="route-window bg-white overflow-auto">
    <span class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Rozwiązanie zadania 2</span>
    </span>

    <div class="card m-2 mb-4">
        <div class="card-body">
            <scam-unordered-list
                    [title]="'added-games.service.ts'"
                    [list]="[
                    'Napisać BehaviorSubjecta _crudActions$ do obsługi zdarzeń CRUD',
                    'Stworzyć addedGames$ z _crudActions$.pipe + switchMap aby odświeżać listę gier (_getAddedGames())',
                    'Stworzyc metodę: addGame(game: IGame): Observable<IGame>',
                    'Tapnąć next(CrudAction) wewnątrz metod: _add oraz _remove',
              ]"
            ></scam-unordered-list>
            <scam-alert [type]="AlertType.Light"
                        [message]="'level-two-reactive/added-games.service.ts'"></scam-alert>
        </div>
    </div>

    <scam-code-snippet-list [codeFiles]="codeFiles"></scam-code-snippet-list>

    <scam-footer-angular-version [text]="'Koniec strony z rozwiązaniem zadania 2'"></scam-footer-angular-version>
</article>
