<article class="route-window bg-white overflow-auto">
    <span class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Event Bus</span>
    </span>

    <core-alert [type]="AlertType.Light" [message]="'src/app/levels/level-three-reactive'"></core-alert>
    <core-alert [type]="AlertType.Info" [message]="'Wykorzystaj RxJS do tworzenia i pokazywania eventów.'"></core-alert>

    <ng-container *ngIf="eventStore.events$ | async as events">
        <header class="border-bottom py-2 d-flex align-items-center">
            <level-header-collapse-list
                    [events]="events"
                    (fireEvent)="onEventToBeFired(Events.ContentAdded)"
            ></level-header-collapse-list>
        </header>

        <header class="mt-2">
            <level-header-event-buttons
                    (clearEvents)="clearEvents()"
                    (fireEvent)="onEventToBeFired($event)"
            ></level-header-event-buttons>
        </header>

        <div class="container-fluid mt-3 pb-3">
            <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr; min-height: 300px;">
                <div class="bg-light border rounded-3 p-2">
                    <div class="d-flex flex-column">
                        <core-alert *ngIf="events.length === 0" [type]="AlertType.Light"
                                    [message]="'Brak eventów.'"></core-alert>
                        <span *ngFor="let event of events">{{event.createdAt | date: 'dd/MM/yyyy - HH:mm:ss.SSS'}}</span>
                    </div>
                </div>

                <div class="bg-light border rounded-3 p-2 d-flex flex-column">
                    <span *ngFor="let event of events">
                        {{event.type}}&nbsp;
                        {{event.data | json}}
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
</article>