<article class="route-window bg-white overflow-auto">
  <span
    class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom "
  >
    <span class="fs-5 fw-semibold">Event Bus</span>
    <span style="flex: 1 1 auto"></span>
    <level-content-authors-counter></level-content-authors-counter>
  </span>

  <scam-alert [type]="AlertType.Light" [message]="'src/app/levels/level-three-reactive'"></scam-alert>
  <scam-alert [type]="AlertType.Info" [message]="'Wykorzystaj RxJS do tworzenia i pokazywania eventów.'"></scam-alert>

  <ng-container *ngIf="eventStore.events$ | async as events">
    <header class="border-bottom py-2 d-flex align-items-center">
      <level-header-collapse-list
        [events]="events"
        (fireContentAddedEvent)="onEventToBeFired(Events.ContentAdded)"
      ></level-header-collapse-list>
    </header>

    <header class="mt-2">
      <level-header-event-buttons
        (clearEvents)="clearEvents()"
        (fireEvent)="onEventToBeFired($event)"
      ></level-header-event-buttons>
    </header>

    <level-event-splitted-list [events]="events"></level-event-splitted-list>
  </ng-container>

  <scam-unordered-list
          [title]="'Co należy zrobic w zadaniu'"
          [list]="[
                'Events.enum.ts | Dodać kolejny typ wewnątrz enuma Events',
                'event-bus.service.ts | Napisać Subjecta trzymającego jeden, ostatni event',
                'event-bus.service.ts | Stworzyc metodę: on<T>(type: Events, callback: (data: T) => void): Subscription',
                'event-bus.service.ts | Stworzyc metodę: emit<T>(type: Events, data: T): void',
          ]"
  ></scam-unordered-list>
</article>
